<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sonuan.xxxxsimples"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-feature android:name="android.hardware.Camera"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".base.BaseApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.NativePermissionActivity">
        </activity>
        <activity android:name=".activity.EasyPermissionsActivity">
        </activity>
        <activity
            android:name=".activity.Camera1Activity"
            android:theme="@style/AppTheme.NoTitle">
        </activity>
        <activity android:name=".activity.GLSurfaceViewActivity">
        </activity>
        <activity android:name=".activity.OverdrawActivity">
        </activity>
        <activity android:name=".activity.RecyclerViewRefreshActivity">
        </activity>
        <activity android:name=".activity.LayoutManagerActivity">
        </activity>
        <activity android:name="pub.devrel.easypermissions.AppSettingsDialogHolderActivity"/>
    </application>

</manifest>